.App {
  text-align: center;
}

#grid_vanila,#grid_redux {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#grid_vanila { border: 2px solid red; margin:5px;}
#grid_vanila div { border: 2px solid red; margin:5px;}
#grid_redux { border: 2px solid blue; margin:5px;}
#grid_redux div { border: 2px solid blue; margin:5px;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
